body {background-color: lightblue;}
div.sticky {
  position: sticky;
  top: 0;
}
/** Go to https://www.google.com/fonts (change font)--> **/

@import 

url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  color: deeppink;
}

h1 {
  color: deeppink;
 
}